





.row{
   padding-left: 15%;
   margin-top: 5%;
   margin-bottom: 5%;

}



.p{
    color: azure ;
}

.bg-image{
    background-image: url(Imgs/Aptm_3.jpeg);
    height: 100vh;
    filter: blur(5px);
    background-position: center center;
    background-repeat:round;
} 


/* Target col-md-4 and > all images in that div */
.col-md-4 > img{
    position:relative;
    width: 150px;
}

.wrapper{
    position: relative;
    display: inline-block;
    width: 100%;
}
.search-wrapper{
   
    position: absolute;
    align-items: center;
    
    
    bottom: 50%;
    left: 25%;
    top: 50%;
}
.form-inline{
    border-radius: 20px;
  box-shadow: 12px 12px 10px 0.5px  rgb(123, 189, 201);
  width: 100vh;
  height: 30px;
    
} 