


.navbar-brand{
    padding-left: 16%;
}

.Top_container{
  
   padding-top: 2%;
   background-color: #d4e9f5;
    
}


.carousel-caption {
    
   border-radius: 80%;
   background-color: #0d6efd;
   opacity: 70%;
   align-items: center;
   top: 40%;
   bottom: 50%;
}

.carousel-item{
    border-bottom: 40cm;
    
}

.row{
   padding-left: 17.5%;
   margin-top: 5%;
   margin-bottom: 5%;

}




.p{
    color: azure ;
}

.bg-image{
    background-image: url(Imgs/Aptm_3.jpeg);
    height: 100vh;
    filter: blur(3px);
    background-position: center center;
    background-repeat:no-repeat;
} 




.card-img-top{
   width: 80px;
}
.card-body{
    box-shadow: 12px 12px 10px 2px  #478ffc36;
}






/* Target col-md-4 and > all images in that div */
.col-md-4 > img{
    position:relative;

    width: 150px;
}

.wrapper_BG{
    padding-top: 5%;
    position: relative;
    display: inline-block;
    width: 100%;
}
.search-wrapper{
   
    position: absolute;
    align-items: center;
    
    
    bottom: 50%;
    left: 25%;
    top: 50%;
}
.form-inline{
  border-radius: 20px;
  box-shadow: 12px 12px 10px 0.5px  rgb(123, 189, 201);
  width: 100vh;
  height: 30px;
    
} 