


.navbar-brand{
    padding-left: 16%;
}

.Top_container{
  
  
   background-color: #d4e9f5;
    
}


.carousel-caption {
    
   border-radius: 80%;
   background-color: #0d6efd;
   opacity: 70%;
   align-items: center;
   top: 40%;
   bottom: 50%;
}

.carousel-item{
    border-bottom: 40cm;
    
}

.row{
   padding-left:2%;
   margin-top: 5%;
   margin-bottom: 5%;

}

.col-contacts{
   
  
    padding-top: 2%;
    padding-left: 60%;
    
}




.p{
    color: azure ;
}

.bg-image{
    background-image: url(Imgs/Aptm_3.jpeg);
    height: 100vh;
    filter: blur(3px);
    background-position: center ;
    background-repeat:no-repeat;
} 




.card-img-top{
   width: 80px;
}
.card-body{
    box-shadow: 15px 15px 10px 6px  #478ffc4b;
}






/* Target col-md-4 and > all images in that div */
.col-md-4 > img{
    position:relative;

    width: 150px;
}

.wrapper_BG{
    padding-top: 5%;
    position: relative;
    display: inline-block;
    width: 100%;
}
.search-wrapper{
   
    position: absolute;
    align-items: center;
    
    
    bottom: 50%;
    left: 25%;
    top: 50%;
}
.form-inline{
  border-radius: 20px;
  box-shadow: 12px 12px 10px 0.5px  rgb(123, 189, 201);
  width: 100vh;
  height: 30px;
    
} 

.bottom_foot{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 1%;
    padding-top: 2%;
 
}





/* social media */

.fa {
    
    align-items: center;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  /* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }